.about-us {
  padding: 30px;
  align-items: center;
}

.about-us img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.badge {
  position: absolute;
  top: 0;
  right: 50px;
  animation-name: floatTechIcon;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform: translateZ(0, 0, 0) perspective(1000) !important;
}

@keyframes floatTechIcon {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 30px;
  }
}

.badge-rails {
  top: 150px;
  right: -50px;
  animation-duration: 3s;
}

.badge-nodejs {
  top: 300px;
  right: 30px;
  animation-duration: 2s;
  animation-direction: alternate-reverse;
}

.badge-reactjs {
  top: 450px;
  right: -40px;
  width: 120px;
  height: auto;
  animation-duration: 3.5s;
}

.badge-reactjs svg {
  width: 100%;
  height: auto;
}

.who-we-are-term {
  width: 100%;
  min-height: 100%;
}

.who-we-are-term svg {
  width: 100%;
  height: auto;
  transform: translateZ(0, 0, 0) perspective(1000) !important;
}

@media only screen and (max-width: 568px) {
  .box.about-us {
    padding: 0;
  }
}

@media only screen and (min-width: 569px) and (max-width: 1024px) {
  .about-us {
    padding: 25px;
  }
}

@media only screen and (max-width: 568px) {
}
