.about-us {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2% 3%;

  .about-us-reviews {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    padding: 6% 5% 0 0;
    line-height: 1.5;
    align-items: flex-end;

    p {
      color: #FDFDFE;
      text-align: justify;
      font-style: italic;
      font-size: 2.5em;
    }

    .nav-button {
      color: #FDFDFE;
      margin: 15px 0 0;
      line-height: 1;
      transform: scale(2.25);
      transform-origin: right top;

      &::after {
        border-color: #FDFDFE;
      }
    }
  }

  .about-us-container-both,
  .about-us-container-laptop {
    display: block;
    width: 680px;
    margin: 0 auto;
    position: relative;
    transform-origin: center top;
    transform: scale(2.75);
  }

  .about-us-container-both {
    margin: 1% 30%;
  }

  .about-us-container-both > .screen,
  .about-us-container-laptop > .screen {
    width: 460px;
    height: 280px;
    position: relative;
    background: #F17174;
    border: 20px solid #474e5d;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .3);
  }

  .about-us-container-both > .laptop {
    top: 225px;
  }

  .about-us-container-laptop {
    transform: none;
  }

  .about-us-container-laptop > .laptop {
    position: relative;
    top: 0;
    left: 0;
    right: initial;
    margin: 0 auto;

    .content {
      width: 100%;
      height: 100%;
      padding: 10px;
      box-sizing: border-box;
    }
  }

  .monitor > div {
    position: absolute;
  }

  .monitor:before,
  .monitor:after,
  .laptop:before{
     content: "";
     position: absolute;
     left: 50%;
   }

  .monitor:before,
  .laptop:before {
    top: -10px;
    margin: -3px 0 0 -3px;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #a5adbd;
  }

  .screen:after {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    bottom: -10px;
    margin: 0 0 -4px -4px;
    background: #e8ebf0;
  }

  .content {
    width: 100%;
    height: 100%;
    top: -5px;
    left: 0;
    padding: 0 25px 10px 10px;
    overflow: hidden;
    box-sizing: border-box;
  }

  .content:before {
    content: "";
    position: absolute;
    top: 20px;
    right: -90px;
    width: 200px;
    height: 300px;
    transform: rotate(45deg);
    background: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 100%);
    z-index: 5;
  }

  .btns {
    position: absolute;
    top: -20px;
    left: 7px;
  }

  .btns:before {
    content: "";
    position: absolute;
    left: 35px;
    top: 5px;
    height: 10px;
    width: 185px;
    background: #fff;
    border-radius: 3px;
  }

  .btns > li {
    display: inline-block;
    list-style: none;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #fc5254;
    margin-right: 4px;
  }

  .btns li:nth-child(2) {
     background: #fcae52;
  }

  .btns li:nth-child(3) {
     background: #66b34e;
  }

  .txt {
    margin: 10px auto;
    width: 220px;
  }

  .txt > li {
    background: #f3f5f7;
    width: 100%;
    height: 15px;
    margin-bottom: 9px;
  }

  .txt > li:nth-child(2) {
    height: 60px;
  }

  .txt > .thin {
    height: 43px;
    width: 30%;
    margin-right: 6px;
    display: inline-block;
  }

  .txt > li:nth-child(5) {
    margin-right: 0;
  }

  .base {
    width: 90px;
    height: 50px;
    bottom: -70px;
    left: 50%;
    margin-left: -45px;
    background: #e8ebf0;
  }

  .base:before,
  .base:after {
    content: "";
    position: absolute;
    top: 0;
  }

  .base:before {
    border-left: 13px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 50px solid #e8ebf0;
    left: -13px;
  }

  .base:after {
    border-right: 13px solid transparent;
    border-left: 0px solid transparent;
    border-bottom: 50px solid #e8ebf0;
    right: -13px;
  }

  .base > div {
     position: absolute;
  }

  .foot {
    background: #e8ebf0;
    z-index: 1;
  }

  .foot.top {
    width: 116px;
    height: 5px;
    bottom: -5px;
    left: 50%;
    margin-left: -58px;
  }

  .foot.top:before,
  .foot.top:after,
  .foot.bottom:before {
    content: "";
    position: absolute;
    top: 0px;
  }

  .foot.top:before {
    border-left: 16px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 5px solid #e8ebf0;
    left: -16px;
  }

  .foot.top:after {
    border-right: 16px solid transparent;
    border-left: 0px solid transparent;
    border-bottom: 5px solid #e8ebf0;
    right: -16px;
  }


  .foot.bottom {
    width: 150px;
    height: 5px;
    bottom: -10px;
    left: 50%;
    margin-left: -75px;
    z-index: 999;
  }

  .laptop {
    width: 235px;
    height: 155px;
    background: #6DCDE9;
    border: 12px solid #e8ebf0;
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: 200px;
    right: 0;
    box-shadow: 0 0 50px rgba(0, 0, 0, .3);
  }

  .laptop:before {
   top: -6px;
  }

  .laptop > div {
    position: absolute;
  }

  .laptop > .content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-left: 0;
    padding: 0;

    &::before {
      top: 10px;
    }
  }

  .txt-laptop {
     width: 189px;
  }

  .txt-laptop > li {
    background: #62B7D0;
  }

  .txt-laptop > li:nth-child(2) {
    height: 41px;
  }

  .txt-laptop > .thin {
    height: 36px;
    margin-right: 5px;
  }

  .btm {
    width: 296px;
    height: 7px;
    bottom: -19px;
    left: 50%;
    margin-left: -148px;
    border-radius: 0 0 20px 20px;
    background: #f4f5f7;
    z-index: 1;
  }

  .btm:before {
    content: "";
    position: absolute;
    width: 42px;
    height: 3px;
    left: 50%;
    top: 0;
    margin-left: -21px;
    border-radius: 0 0 5px 5px;
    background: #d8dbe1;
  }

  .keyboard {
    width: 216px;
    height: 35px;
    bottom: -60px;
    left: 50%;
    margin-left: -108px;
    background: #e8ebf0;
    box-shadow: 0 4px 0 #d8dbe1;
    z-index: 2;
  }

  .keyboard:before,
  .keyboard:after {
    content: "";
    position: absolute;
    top: 0;
    z-index: 2;
  }

  .keyboard > div {
     position: absolute;
  }

  .keyboard .btm {
    background: #d8dbe1;
    width: 244px;
    height: 4px;
    border-radius: 0;
    bottom: -4px;
    left: 50%;
    margin-left: -122px;
  }


  .keyboard:before {
    border-left: 14px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 35px solid #e8ebf0;
    left: -14px;
  }

  .keyboard:after {
    border-right: 14px solid transparent;
    border-left: 0px solid transparent;
    border-bottom: 35px solid #e8ebf0;
    right: -14px;
  }

  .keys {
    width: 220px;
    margin: 4px auto;
    text-align: center;
    position: relative;
    left: 50%;
    margin-left: -110px;
  }

  .keys li {
    position: relative;
    left: 50%;
    background: #f4f5f7;
    height: 4px;
    margin: 0 0 3px -110px;
    z-index: 4;
  }

  .keys li:nth-child(1) {
    width: 208px;
    margin-left: -104px;
  }

  .keys li:nth-child(2) {
    width: 212px;
    margin-left: -106px;
  }

  .keys li:nth-child(2) {
    width: 212px;
    margin-left: -106px;
  }

  .keys li:nth-child(3) {
    width: 216px;
    margin-left: -108px;
  }

  .keys li:nth-child(4) {
    width: 220px;
    margin-left: -110px;
  }

  .keys li:before,
  .keys li:after {
    content: "";
    position: absolute;
  }

  .keys li:before {
    border-left: 3px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 4px solid #f4f5f7;
    left: -3px;
  }

  .keys li:after {
    border-right: 3px solid transparent;
    border-left: 0px solid transparent;
    border-bottom: 4px solid #f4f5f7;
    right: -3px;
  }

  .shadow {
    position: absolute;
    width: 350px;
    height: 15px;
    left: 50%;
    margin-left: -175px;
    z-index: -1;
    bottom: -20px;
    background: radial-gradient(ellipse at center, rgba(23, 37, 49, .6) 0%, rgba(23, 37, 49, .1) 50%, rgba(23, 37, 49, 0) 60%, rgba(23, 37, 49, 0) 100%);
  }

  .laptop .shadow {
    width: 450px;
    margin-left: -225px;
    bottom: -26px;
  }

  .keyboard .shadow {
    bottom: -10px;
    height: 10px;
  }
}

.about-us img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.who-we-are-term {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.who-we-are-term svg {
  width: 100%;
  height: auto;
  transform: translateZ(0, 0, 0) perspective(1000) !important;
}

@media only screen and (max-width: 568px) {
  .about-us {
    .who-we-are-term.term-only {
      display: none;
    }
  }
}

@media only screen and (max-width: 767px) {
  .about-us {
    padding: 3% 5%;

    .about-us-container-laptop {
      display: none;
    }
  }
}

@media only screen and (min-width: 768px) {
  .about-us {
    .about-us-container-laptop {
      margin-top: 10%;
      transform: scale(2.25);
    }

    .who-we-are-term.term-only {
      display: none;
    }

    .about-us-container-laptop {
      display: block;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .about-us {
    .about-us-container-laptop {
      margin-top: 3%;
      transform: scale(3);
    }
  }
}

@media only screen and (max-width: 1279px) {
  .about-us {
    .about-us-container-both,
    .about-us-reviews {
      display: none;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .about-us {
    .about-us-container-both {
      transform: scale(1.4);
      margin: 1% 15%;
    }

    .about-us-reviews {
      padding-top: 5%;

      p {
        font-size: 1.35em;
      }

      .nav-button {
        transform: scale(1.35);
      }
    }

    .about-us-container-laptop {
      display: none;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .about-us {
    .about-us-container-both {
      transform: scale(1.6);
      margin: 1% 20%;
    }

    .about-us-reviews {
      padding-top: 5%;

      p {
        font-size: 1.5em;
      }

      .nav-button {
        transform: scale(1.5);
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  .about-us {
    .about-us-container-both {
      transform: scale(2);
      margin: 1% 25%;
    }

    .about-us-reviews {
      p {
        font-size: 1.8em;
      }

      .nav-button {
        transform: scale(1.8);
      }
    }
  }
}

@media only screen and (min-width: 2560px) {
  .about-us {
    .about-us-container-both {
      transform: scale(2.75);
      margin: 1% 30%;
    }

    .about-us-reviews {
      p {
        font-size: 2.5em;
      }

      .nav-button {
        transform: scale(2.5);
      }
    }
  }
}

@media only screen and (max-width: 568px) {
  .box.about-us {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 320px) {
  .box.about-us {
    font-size: .95em;
  }
}
