.about-us {
  padding: 30px;
  align-items: center;
}

.about-us img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.who-we-are-term {
  width: 100%;
  min-height: 100%;
}

.who-we-are-term svg {
  width: 100%;
  height: auto;
  transform: translateZ(0, 0, 0) perspective(1000) !important;
}

@media only screen and (max-width: 568px) {
  .box.about-us {
    padding: 0;
  }
}

@media only screen and (min-width: 569px) and (max-width: 1024px) {
  .about-us {
    padding: 25px;
  }
}

@media only screen and (max-width: 568px) {
}
