.about-us {
  align-items: center;
  justify-content: center;
}

.about-us img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.who-we-are-term {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.who-we-are-term svg {
  width: 100%;
  height: auto;
  transform: translateZ(0, 0, 0) perspective(1000) !important;
}

@media only screen and (min-width: 1441px) {
  .who-we-are-term {
    width: 70%;
  }
}

@media only screen and (max-width: 1440px) {
  .about-us {
    padding: 20px 0 40px;
  }
}

@media only screen and (max-width: 1280px) {
  .about-us {
    padding: 20px 75px 40px;
  }
}

@media only screen and (min-width: 569px) and (max-width: 1024px) {
  .about-us {
    padding: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .box.about-us {
    margin: 0;
  }
}

@media only screen and (max-width: 568px) {
  .box.about-us {
    margin: 0;
    padding: 0 15px;
    font-size: 1.05em;
    line-height: 1.5;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 320px) {
  .box.about-us {
    font-size: .8em;
  }
}
