.careers-box {
  flex-direction: row;
  flex: 1;
  padding: 15px 0 50px;
}

.career-position {
  flex: 1;

  .position-header {
    height: 80px;
    align-items: flex-start;
    justify-content: center;
    z-index: 1;

    h2 {
      bottom: 10px;
      padding: 0 20px;
      font-size: 24px;
      font-family: 'Upwave-Medium';
      text-transform: uppercase;
    }
  }

  .position-text {
    flex: 1;
    padding: 15px 20px 0;
    font-size: 14px;
    line-height: 1.5em;

    h3 {
      padding: 0 0 10px;
      font-size: 16px;
      font-family: 'Upwave-Medium';
    }
  }

  .position-footer {
    position: relative;
    height: 60px;
    padding: 10px 20px 10px;
    align-items: flex-end;
    justify-content: center;
    background: #F9F9F9;

    &::before {
      content: '';
      position: absolute;
      top: -35px;
      left: 0;
      width: 100%;
      height: 35px;
      background: linear-gradient(to bottom, rgba(249, 249, 249, 0) 0%, rgba(249, 249, 249, 1) 100%);
    }
  }

  .js {
    background: #f7df1e;
  }

  .ruby {
    background-color: #F17174;
  }

  .ui-ux {
    background-color: #6DCDE9;
  }
}

@media only screen and (max-width: 1024px) {
  .careers-box {
    flex-direction: column;
  }
}
