.career-box {
  flex-direction: row;
  flex: 1;
  padding: 15px 0 50px;

  .panel {
    min-height: 140px;
  }
}

.career-position,
.career-dialog {
  flex: 1;

  .position-header {
    height: 80px;
    min-height: 80px;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    cursor: pointer;
    flex-direction: row;

    h2 {
      bottom: 10px;
      padding: 0 20px;
      font-size: 24px;
      font-family: 'Upwave-Medium';
      text-transform: uppercase;
    }

    .nav-button {
      margin-right: 20px;
    }
  }

  .position-text {
    flex: 1;
    padding: 0 20px;
    font-size: 14px;
    line-height: 1.5em;

    h3 {
      padding: 15px 0 10px;
      font-size: 16px;
      font-family: 'Upwave-Medium';
    }
  }

  .position-footer {
    position: relative;
    height: 60px;
    min-height: 60px;
    padding: 10px 20px 10px;
    align-items: flex-end;
    justify-content: center;
    background: #F9F9F9;

    &::before {
      content: '';
      position: absolute;
      top: -35px;
      left: 0;
      width: 100%;
      height: 35px;
      background: linear-gradient(to bottom, rgba(249, 249, 249, 0) 0%, rgba(249, 249, 249, 1) 100%);
    }
  }

  .js {
    background: #f7df1e;
  }

  .ruby {
    background-color: #F17174;
  }

  .ui-ux {
    background-color: #6DCDE9;
  }
}

.career-dialog {
  display: block;
  min-width: 750px;
  max-width: 750px;
  margin-right: 200px;
  margin-bottom: 75px;
  background: #F9F9F9;
  border-radius: 2px;

  .position-header {
    box-shadow: 0 0 2px rgba(65, 73, 96, .3);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    cursor: default;
  }
}

@media only screen and (max-width: 568px) {
  .career-dialog {
    min-width: 100%;
    max-width: 100%;
    margin-right: 0;
    padding-bottom: 25px;
    margin-bottom: 0;

    .position-header {
      h2 {
        width: 150px;
        font-size: 17px;

        &::before {
          bottom: -18px;
        }
      }
    }
  }

  .box.career-box {
    padding: 0;

    .panel {
      min-height: 80px;
      max-height: 80px;

      &:hover {
        min-height: 80px;
        max-height: 80px;
      }
    }

    .panel-container {
      min-height: 175px;
      max-height: 175px;
    }

    .career-position {
      min-height: 80px;
      max-height: 80px;

      .position-header {
        h2 {
          width: 150px;
          font-size: 17px;

          &::before {
            bottom: -18px;
          }
        }
      }

      .position-text,
      .position-footer {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .career-dialog {
    min-width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 0;
    padding-bottom: 75px;
  }

  .career-box {
    flex-direction: column;
    flex: initial;

    .panel {
      max-height: 140px;

      &:hover {
        max-height: none;
      }
    }

    .panel-container {
      min-height: 300px;
      min-width: 100%;
    }
  }
}
