.career-box {
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 3% 2% 1%;
}

.panel {
  flex-grow: 1;
  flex-basis: 50%;
  padding: 2%;
}

.career-position,
.career-dialog {
  background: #F9F9F9;
  box-shadow: 0 0 100px rgba(0, 0, 0, .3);
  border-radius: 8px;
  overflow: hidden;

  .phone-apply-button {
    display: inline-block;
    margin: 25px 0 0 20px;
  }

  .position-header {
    flex: 1 0;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    cursor: pointer;
    flex-direction: row;

    h2 {
      bottom: 0px;
      padding: 0 20px 15px;
      font-size: 24px;
      font-family: 'Upwave-Medium', sans-serif;
      text-transform: uppercase;
      min-width: 0;
      width: auto;
      max-width: 75%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &::before {
        bottom: 0px;
        left: 20px;
        width: calc(100% - 40px);
        background: rgba(43, 72, 95, .5);
      }
    }

    .nav-button {
      margin-right: 20px;
    }
  }

  .position-text {
    flex-grow: 1;
    padding: 0 20px;
    font-size: 14px;
    line-height: 1.5;
    overflow: hidden;

    h3 {
      padding: 15px 0 10px;
      font-size: 16px;
      font-family: 'Upwave-Medium', sans-serif;
      text-transform: uppercase;
    }
  }

  .position-footer {
    position: relative;
    min-height: 60px;
    height: 60px;
    max-height: 60px;
    flex: 1 0;
    padding: 10px 20px 10px;
    align-items: flex-end;
    justify-content: center;
    background: #F9F9F9;

    &::before {
      content: '';
      position: absolute;
      top: -35px;
      left: 0;
      width: 100%;
      height: 35px;
      background: linear-gradient(to bottom, rgba(249, 249, 249, 0) 0%, rgba(249, 249, 249, 1) 100%);
    }
  }

  .javascript {
    background: #f7df1e;
  }

  .ruby {
    background-color: #F17174;
  }

  .ui-ux {
    background-color: #6DCDE9;
  }
}

.career-position {
  flex-grow: 1;
  min-height: 0;
}

.career-dialog {
  display: block;
  min-width: 750px;
  max-width: 750px;
  margin-right: 200px;
  margin-bottom: 75px;
  background: #F9F9F9;
  border-radius: 8px;

  .position-header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: default;
  }
}

@media only screen and (max-width: 568px) {
  .box.career-box {
    padding: 0 5% 4%;

    .nav-button {
      margin-left: 0;
    }

    .panel {
      padding: 4% 2%;
      max-height: 350px;
    }

    .career-position {
      box-shadow: 0 0 20px rgba(0, 0, 0, .3);

      .position-footer {
        .nav-button {
          margin: 0;
        }
      }

      .position-header {
        min-height: 60px;
        height: 60px;
        max-height: 60px;

        h2 {
          font-size: 17px;
          padding-bottom: 15px;

          &::before {
            height: 15px;
          }
        }
      }
    }
  }

  .career-dialog {
    min-width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0 0 25px;

    .position-header {
      min-height: 60px;
      height: 60px;
      max-height: 60px;

      h2 {
        font-size: 17px;

        &::before {
          height: 15px;
        }
      }
    }
  }
}

@media only screen and (min-width: 569px) and (max-width: 1024px) {
  .career-dialog {
    min-width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 0;
    padding-bottom: 75px;

    .position-header {
      min-height: 60px;
      height: 60px;
      max-height: 60px;

      h2 {
        font-size: 1.25em;
      }
    }
  }

  .box.career-box {
    padding: 3% 3% 2%;

    .career-position {
      box-shadow: 0 0 50px rgba(0, 0, 0, .3);
    }

    .panel {
      padding: 2.5% 2%;

      .position-header {
        min-height: 60px;
        height: 60px;
        max-height: 60px;

        h2 {
          font-size: 1.25em;
        }
      }

      .position-text {
        font-size: 0.75em;

        h3 {
          font-size: 1em;
        }
      }
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .career-position,
  .career-dialog {
    .position-header {
      min-height: 60px;
      height: 60px;
      max-height: 60px;

      h2 {
        font-size: 1.25em;
      }
    }

    .position-text {
      font-size: 0.75em;

      h3 {
        font-size: 1em;
      }
    }
  }

  .career-dialog {
    .position-text {
      padding-bottom: 50px;
    }
  }
}

@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  .career-position,
  .career-dialog {
    .position-header {
      min-height: 70px;
      height: 70px;
      max-height: 70px;

      h2 {
        font-size: 1.5em;
      }
    }

    .position-text {
      font-size: 0.85em;

      h3 {
        font-size: 1em;
      }
    }
  }

  .career-dialog {
    .position-header {
      padding: 0 10px;
    }

    .position-text {
      padding: 0 30px 50px;
    }
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  .career-position,
  .career-dialog {
    .position-header {
      min-height: 85px;
      height: 85px;
      max-height: 85px;

      h2 {
        font-size: 1.75em;
      }
    }

    .position-text {
      font-size: 1.15em;

      h3 {
        font-size: 1em;
      }
    }

    .position-footer {
      .nav-button {
        margin-bottom: 10px;
        transform-origin: right bottom;
      }
    }

    .nav-button {
      transform-origin: right center;
      transform: scale(1.25);
    }
  }

  .career-dialog {
    min-width: 1024px;
    max-width: 1024px;
    margin-right: 300px;

    .position-header {
      padding: 0 20px;
    }

    .position-text {
      padding: 0 40px 50px;
    }
  }
}

@media only screen and (min-width: 1921px) {
  .career-position,
  .career-dialog {
    .position-header {
      min-height: 105px;
      height: 105px;
      max-height: 105px;

      h2 {
        font-size: 2.25em;
      }
    }

    .position-text {
      font-size: 1.25em;

      h3 {
        font-size: 1.15em;
      }
    }

    .position-footer {
      .nav-button {
        margin-bottom: 15px;
        transform-origin: right bottom;
      }
    }

    .nav-button {
      transform-origin: right center;
      transform: scale(1.75);
    }
  }

  .career-dialog {
    min-width: 1440px;
    max-width: 1440px;
    margin-right: 500px;

    .position-header {
      padding: 0 30px;
    }

    .position-text {
      padding: 0 50px 50px;
    }
  }
}
