[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  box-sizing: border-box;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  appearance: button;
  user-select: none;
  text-transform: uppercase;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

[role="button"],
[role="link"] {
  color: inherit;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  user-select: none;
  text-transform: uppercase;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
[role="button"],
[role="link"],
button {
  cursor: pointer;
  font-size: 14px;
  color: rgba(44, 72, 96, .75);
  transition: all .2s ease-out;
}

input[type="reset"]:hover,
input[type="button"]:hover,
[role="button"]:hover,
[role="link"]:hover,
button:hover {
  color: rgba(44, 72, 96, 1);
}

[role="link"].active {
  color: #FE777A;
}

[role="button"] {
  padding: 10px 20px 10px 20px;
  border: 1px solid rgba(44, 72, 96, 1);
  color: rgba(44, 72, 96, 1);
  border-radius: 100px;
  opacity: 0.95;

  &:hover {
    opacity: 1;
  }
}

[role="button"].active {
  border: none;
  background: #FDFDFE;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

[role="button"].link {
  position: relative;
  border: none;
  padding-left: 0;
  padding-bottom: 0;

  &::after {
    content: '';
    position: absolute;
    right: 6px;
    top: 16px;
    height: 8px;
    width: 8px;
    border-top: 1px solid rgba(44, 72, 96, 1);
    border-right: 1px solid rgba(44, 72, 96, 1);
    border-top-right-radius: 2px;
    transform: translateY(-50%) rotate(45deg);
    opacity: 1;
    transition: all .2s ease-out;
  }
}

[role="button"].link:hover {
  color: #FE777A !important;

  &::after {
    right: 0;
    opacity: 0;
  }
}

.bullets,
.bullets-inline {
  position: relative;

  .bullet {
    position: relative;
    top: 0;
    left: 0;
    padding-left: 20px;

    &::before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      width: 8px;
      height: 8px;
      margin: 0;
      border-radius: 8px;
      background: rgba(44, 72, 96, .75);
    }
  }
}

.bullets {
  padding-left: 20px;
}

.bullets-inline {
  padding: 0;

  .bullet {
    display: inline-block;
    padding-left: 30px;

    &::before {
      position: absolute;
      top: initial;
      bottom: 0;
      left: 0;
      width: 12px;
      height: 12px;
      margin: 0 9px;
      border-radius: 12px;
      background: rgba(44, 72, 96, .5);
    }
  }
}

.bullets-active {
  .bullet {
    &:hover,
    &.active {
      &::before {
        background: rgba(44, 72, 96, 1);
      }
    }
  }
}

form {
  text-align: center;
}

form input[type="text"],
form input[type="email"],
form input[type="submit"],
form textarea {
  border: 0;
  outline: 0;
  padding: 12px 20px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 30px;
  font-size: 1.5em;
  font-family: 'UpWave-Book', sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  resize: none;
  background: #FDFDFE;
  box-sizing: border-box;
  color: #2c4860;
}

form input[type="text"],
form input[type="email"],
form textarea {
  opacity: .85;
}

.in-error {
  border: 1px solid #FE777A !important;
}

.field-error {
  display: flex;
  color: #FE777A !important;
  padding: 6px 20px 0 20px;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}

.form-notice {
  display: flex;
  padding: 20px;
  color: #55A0B6;
  align-items: center;
  justify-content: center;
  text-align: justify;
  background: rgb(182, 224, 237);
  border-radius: 8px;
  line-height: 1.5;
  margin-top: 30px;
}

.loading::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  bottom: 9px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FDFDFE;
  border-bottom-color: #FDFDFE;
  animation: loading .8s ease infinite;
  z-index: 1;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

form input:focus, form textarea:focus {
  opacity: 1;
}

form input[type="submit"] {
  color: #FDFDFE;
  background: #6DCDE9;
  cursor: pointer;
  font-size: 1.5em;
  border-radius: 100px;
  padding: 10px 20px 10px 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  opacity: 0.95;

  &:hover {
    opacity: 1;
  }
}

form textarea {
  height: 200px;
}
