[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  box-sizing: border-box;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  appearance: button;
  user-select: none;
  text-transform: uppercase;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

[role="button"],
[role="link"] {
  color: inherit;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  user-select: none;
  text-transform: uppercase;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
[role="button"],
[role="link"],
button {
  cursor: pointer;
  font-size: 14px;
  color: rgba(65, 73, 96, .75);
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
[role="button"]:hover,
[role="link"]:hover,
button:hover {
  color: rgba(65, 73, 96, 1);
}

[role="link"].active {
  color: #FE777A;
}

[role="button"] {
  padding: 10px 20px 10px 20px;
  border: 1px solid rgba(65, 73, 96, .75);
  border-radius: 8px;
}

[role="button"]:hover {
  border: 1px solid rgba(65, 73, 96, 1);
}

.bullets,
.bullets-inline {
  position: relative;

  .bullet {
    position: relative;
    top: 0;
    left: 0;
    padding-left: 20px;

    &::before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      width: 8px;
      height: 8px;
      margin: 0;
      border-radius: 8px;
      background: rgba(65, 73, 96, .75);
    }
  }
}

.bullets {
  padding-left: 20px;
}

.bullets-inline {
  padding: 0;

  .bullet {
    display: inline-block;
    padding-left: 30px;

    &::before {
      position: absolute;
      top: initial;
      bottom: 0;
      left: 0;
      width: 12px;
      height: 12px;
      margin: 0 9px;
      border-radius: 12px;
      background: rgba(65, 73, 96, .5);
    }
  }
}

.bullets-active {
  .bullet {
    &:hover,
    &.active {
      &::before {
        background: rgba(65, 73, 96, 1);
      }
    }
  }
}
