.contact-bar {
  flex: 1;
  width: 550px;
  box-shadow: inset 50px 0 50px -50px #000000;
  padding-top: 50px;

  h2 {
    display: inline;
    padding: 0 25px 20px;
    font-size: 2.5em;
    text-transform: uppercase;
    color: #FDFDFE;

    &::before {
      width: calc(100% - 50px);
      left: 25px;
    }
  }

  .contact-form,
  .contact-map,
  .google-map {
    flex: 1;
    width: 100%;
  }

  #contact-us {
    position: relative;
    width: 100%;

    .form-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #FDFDFE;
      margin-top: 48px;

      .submit-button,
      .nav-button {
        transform-origin: center;
      }

      .submit-button-wrapper {
        position: relative;
        display: flex;
        flex: 1;
      }

      .divider {
        position: relative;
        margin: 25px 0 20px;
        opacity: .85;
        font-size: 1em;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: -50px;
          width: 40px;
          height: 2px;
          background: #FDFDFE;
        }

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: -50px;
          width: 40px;
          height: 2px;
          background: #FDFDFE;
        }
      }

      .nav-button {
        border-color: #FDFDFE;
        color: #FDFDFE;
        transform: scale(1.5);
        margin: 0;
      }

      .submit-button {
        transform: scale(2);
        min-width: 125px;
        margin: 0;
      }
    }
  }

  .contact-form,
  .contact-map {
    align-items: center;
    flex: 1;
    padding: 0 35px;
  }

  .google-map {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  .contact-bar {
    width: 450px;

    h2 {
      font-size: 1.75em;
    }

    form input,
    form textarea {
      padding: 9px 18px;
      font-size: 1.25em;
      margin-top: 20px;
    }

    .form-notice {
      margin-top: 20px;
    }

    #contact-us {
      .form-buttons {
        margin-top: 20px;

        .divider {
          margin: 20px 0 15px;
          font-size: .9em;
        }

        .nav-button {
          transform: scale(1.25);
        }

        .submit-button {
          transform: scale(1.5);
          font-size: 14px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .contact-bar {
    width: 400px;

    h2 {
      font-size: 1.5em;
    }

    form input,
    form textarea {
      padding: 9px 18px;
      font-size: 1.1em;
      margin-top: 20px;
    }

    form textarea {
      height: 150px;
    }

    .form-notice {
      margin-top: 20px;
    }

    #contact-us {
      .form-buttons {
        margin-top: 25px;

        .divider {
          margin: 15px 0 10px;
          font-size: .9em;
        }

        .nav-button {
          transform: none;
        }

        .submit-button {
          transform: scale(1.25);
          font-size: 14px;
        }
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .contact-bar {
    width: 400px;

    h2 {
      font-size: 1.65em;
    }

    form input,
    form textarea {
      padding: 8px 16px;
      font-size: 1.15em;
      margin-top: 20px;
    }

    .form-notice {
      margin-top: 20px;
    }

    #contact-us {
      .form-buttons {
        margin-top: 30px;

        .divider {
          margin: 10px 0 5px;
          font-size: .9em;
        }

        .nav-button {
          transform: none;
        }

        .submit-button {
          transform: scale(1.25);
          font-size: 14px;
        }
      }
    }
  }
}


@media only screen and (max-width: 768px) {
  .contact-bar {
    width: 300px;

    .contact-form {
      padding: 0 20px;
    }

    h2 {
      font-size: 1.45em;
      padding-bottom: 15px;

      &::before {
        height: 15px;
      }
    }

    form input,
    form textarea {
      padding: 7px 14px;
      font-size: 1.05em;
      margin-top: 15px;
    }

    .form-notice {
      margin-top: 15px;
    }

    form textarea {
      height: 125px;
    }

    #contact-us {
      .form-buttons {
        margin-top: 20px;

        .divider {
          margin: 10px 0 5px;
          font-size: .9em;
        }

        .nav-button {
          transform: none;
        }

        .submit-button {
          transform: scale(1.25);
          font-size: 16px;
          min-height: 32px;
        }
      }

      .field-error {
        font-size: 0.75em;
      }
    }
  }
}
