.contact-bar {
  flex-grow: 1;
  width: 1441px;
  padding-top: 20px;
  padding-bottom: 125px;
  flex-direction: row;

  .sidebar-close-button {
    top: 13px;
  }

  h2 {
    padding-left: 25px;
    padding-right: 25px;
    text-transform: uppercase;
    color: #FDFDFE;

    &::before {
      width: calc(100% - 50px);
      left: 25px;
    }
  }

  .contact-map {
    align-items: center;
    flex: 1.3;
    padding: 0 35px 0 0;
  }

  .google-map {
    width: 100%;
    flex-grow: 1;
    padding-top: 30px;
    border-radius: 8px;
    box-sizing: border-box;

    iframe {
      flex-grow: 1;
      border-radius: 8px;
      box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    }
  }

  .contact-address {
    padding: 0 0 30px;
    color: #FDFDFE;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    align-items: center;

    a {
      margin: 0;
      color: #FDFDFE;
    }

    .contact-street {
      padding: 30px 0 0;
    }
  }

  .contact-form {
    flex: .7;
  }

  #contact-us {
    width: 100%;

    .g-recaptcha {
      display: inline-block;
      margin-top: 30px;
      overflow: hidden;
      box-shadow: 0 0 20px rgba(0, 0, 0, .3);
      border-radius: 8px;
    }

    .form-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #FDFDFE;
      margin-top: 48px;

      .submit-button,
      .nav-button {
        transform-origin: center;
      }

      .submit-button-wrapper {
        position: relative;
        display: flex;
        flex-grow: 1;
      }

      .divider {
        position: relative;
        margin: 25px 0 20px;
        opacity: .85;
        font-size: 1em;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: -50px;
          width: 40px;
          height: 2px;
          background: #FDFDFE;
        }

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: -50px;
          width: 40px;
          height: 2px;
          background: #FDFDFE;
        }
      }

      .nav-button {
        border-color: #FDFDFE;
        color: #FDFDFE;
        transform: scale(1.5);
        margin: 0;
      }

      .submit-button {
        transform: scale(2);
        min-width: 125px;
        margin: 0;
      }
    }
  }

  .contact-form{
    align-items: center;
    flex-grow: 1;
    padding: 0 35px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  .contact-bar {
    width: 1280px;

    h2 {
      font-size: 1.75em;
    }

    form input,
    form textarea {
      padding: 9px 18px;
      font-size: 1.25em;
      margin-top: 20px;
    }

    .form-notice {
      margin-top: 20px;
    }

    .contact-map {
      .google-map {
        padding-top: 20px;
      }

      .contact-address {
        .contact-street {
          padding-top: 20px;
        }
      }
    }

    #contact-us {
      .g-recaptcha {
        margin-top: 20px;
      }

      .form-buttons {
        margin-top: 30px;

        .divider {
          margin: 20px 0 15px;
          font-size: .9em;
        }

        .nav-button {
          transform: scale(1.25);
        }

        .submit-button {
          transform: scale(1.5);
          font-size: 14px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .contact-bar {
    width: 1000px;

    h2 {
      font-size: 1.5em;
    }

    form input,
    form textarea {
      padding: 9px 18px;
      font-size: 1.1em;
      margin-top: 20px;
    }

    form textarea {
      height: 150px;
    }

    .form-notice {
      margin-top: 20px;
    }

    .contact-map {
      .google-map {
        padding-top: 20px;
      }

      .contact-address {
        .contact-street {
          padding-top: 20px;
        }
      }
    }

    .field-error {
      padding-top: 0;
      font-size: 1em;
    }

    #contact-us {
      .g-recaptcha {
        margin-top: 0;
        transform-origin: bottom;
        transform: scale(.75);
      }

      .form-buttons {
        margin-top: 25px;

        .divider {
          margin: 15px 0 10px;
          font-size: .9em;
        }

        .nav-button {
          transform: none;
        }

        .submit-button {
          transform: scale(1.25);
          font-size: 14px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .contact-bar {
    width: 700px;

    h2 {
      font-size: 1.65em;
    }

    form input,
    form textarea {
      padding: 8px 16px;
      font-size: 1.15em;
      margin-top: 20px;
    }

    form textarea {
      height: 125px;
    }

    .form-notice {
      margin-top: 20px;
    }

    .contact-map {
      .google-map {
        padding-top: 20px;
      }

      .contact-address {
        .contact-street {
          padding-top: 20px;
        }
      }
    }

    .field-error {
      padding-top: 0;
      font-size: 1em;
    }

    #contact-us {
      .g-recaptcha {
        margin-top: 20px;
      }

      .form-buttons {
        margin-top: 30px;

        .divider {
          margin: 10px 0 5px;
          font-size: .9em;
        }

        .nav-button {
          transform: none;
        }

        .submit-button {
          transform: scale(1.25);
          font-size: 14px;
        }
      }
    }
  }
}


@media only screen and (max-width: 767px) {
  .contact-bar {
    width: 100%;

    .contact-form {
      padding: 0 20px;
    }

    h2 {
      font-size: 1.45em;
      padding-bottom: 15px;

      &::before {
        height: 15px;
      }
    }

    form input,
    form textarea {
      padding: 7px 14px;
      font-size: 1.05em;
      margin-top: 15px;
    }

    .form-notice {
      margin-top: 15px;
    }

    form textarea {
      height: 100px;
    }

    .contact-map {
      display: none;
    }

    #contact-us {
      .g-recaptcha {
        margin-top: 20px;
      }

      .form-buttons {
        margin-top: 20px;

        .divider {
          margin: 10px 0 5px;
          font-size: .9em;
        }

        .nav-button {
          transform: none;
        }

        .submit-button {
          transform: scale(1.25);
          font-size: 16px;
          min-height: 32px;
        }
      }

      .field-error {
        padding-top: 0;
        font-size: 0.75em;
      }
    }
  }
}
