.footer {
  position: absolute;
  left: 0;
  bottom: -125px;
  width: 100%;
  min-height: 125px;
  height: auto;
  background-color: rgba(44, 72, 96, 1);
}

.footer.greeting {
  display: none;
}
/*
.who_we_are {
  .footer {
    background-color: rgba(109, 205, 233, 1);
  }

  .footer .copyright,
  .footer .copyright a {
    color: #48889A;
  }

  .footer .social-link svg path {
    fill: #48889A;
  }

  .footer .social-link:hover svg path {
    fill: #23424C;
  }

  .footer .sitemap-link {
    color: #48889A;
  }

  .footer .sitemap-link:hover {
    color: #23424C;
  }

  .footer h3 {
    color: #23424C;
  }

  .footer h3::before {
    background-color: #23424C;
  }
}

.our_work {
  .footer {
    background-color: rgba(241, 113, 116, 1);
  }

  .footer .copyright,
  .footer .copyright a {
    color: #A24C4E;
  }

  .footer .social-link svg path {
    fill: #A24C4E;
  }

  .footer .social-link:hover svg path {
    fill: #7B3A3B;
  }

  .footer .sitemap-link {
    color: #A24C4E;
  }

  .footer .sitemap-link:hover {
    color: #7B3A3B;
  }

  .footer h3 {
    color: #7B3A3B;
  }

  .footer h3::before {
    background-color: #7B3A3B;
  }
}
*/
.footer-navigation {
  width: 100%;
  margin-top: 12px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.social {
  flex-direction: row;
}

.social-link {
  min-width: 50px;
  max-width: 75px;
  height: auto;
  margin-right: 25px;

  section {
    max-height: 75px;
  }
}

.social-link svg {
  width: 100%;
  height: auto;
}

.social-link svg path {
  fill: #3D6687;
}

.social-link:hover svg path {
  fill: #6DCDE9;
}

.sitemap {
  margin: 0 50px 0 auto;
  flex-direction: row;
  align-items: center;
}

.sitemap h3 {
  padding: 0 0 9px;
  margin: 0 10px 0 25px;
  color: #6DCDE9;
}

.sitemap h3::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 9px;
  background: #6DCDE9;
}

.sitemap-group {
  margin-top: 5px;
}

.sitemap-link {
  margin-left: 25px;
  font-size: 22px;
  color: #3D6687;
  text-transform: uppercase;
  text-decoration: none;
}

.sitemap-link:hover {
  color: #6DCDE9;
}

.copyright,
.copyright a {
  line-height: 2.5em;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: #3D6687;
}

.copyright {
  .help-links {
    margin: 0 10px;
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    bottom: -300px;
    min-height: 300px;
    height: auto;
  }

  .footer-navigation {
    flex-direction: column-reverse;
    flex: initial;
    margin: 0;
  }

  .sitemap {
    flex-direction: column;
    align-items: flex-start;
    margin: 5px auto 0;
  }

  .sitemap h3 {
    padding: 0;
    margin: 0;
  }

  .sitemap h3::before {
    bottom: -5px;
  }

  .sitemap-group {
    margin: 0;
  }

  .sitemap-link {
    margin: 0 0 3px;
  }

  .social {
    margin: 15px auto 0;
  }

  .social-link {
    margin: 0 10px;
  }

  .copyright {
    margin-top: 10px;
    line-height: 1em;

    .help-links,
    .legit-name {
      display: flex;
      min-width: 100%;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
}
