.footer {
  position: absolute;
  left: 0;
  bottom: -125px;
  width: 100%;
  max-height: 125px;
  height: auto;
  color: #21263F;
  background-color: #29304F;
}

.footer-navigation {
  width: 100%;
  margin-top: 12px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.social {
  flex-direction: row;
}

.social-link {
  min-width: 50px;
  max-width: 75px;
  height: auto;
  margin-right: 25px;
}

.social-link svg {
  width: 100%;
  height: auto;
}

.social-link svg path {
  fill: #21263F;
}

.social-link:hover svg path {
  fill: #555d74;
}

.sitemap {
  margin: 0 50px 0 auto;
  flex-direction: row;
  align-items: center;
}

.sitemap h3 {
  padding: 0 0 9px;
  margin: 0 10px 0 25px;
  color: #555d74;
}

.sitemap h3::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 9px;
  background: rgba(65, 73, 96, .75);
}

.sitemap-group {
  margin-top: 5px;
}

.sitemap-link {
  margin-left: 25px;
  font-size: 22px;
  color: #21263F;
  text-transform: uppercase;
  text-decoration: none;
}

.sitemap-link:hover {
  color: #555d74;
}

.copyright {
  line-height: 2.5em;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: #555d74;
}

@media (max-width: 1023px) {
  .footer {
    bottom: -265px;
    max-height: 265px;
    height: auto;
  }

  .footer-navigation {
    flex-direction: column;
    flex: initial;
    margin: 0;
  }

  .sitemap {
    flex-direction: column;
    align-items: flex-start;
    margin: 10px auto 0;
  }

  .sitemap h3 {
    padding: 0;
    margin: 0;
  }

  .sitemap h3::before {
    bottom: -5px;
  }

  .sitemap-group {
    margin: 0;
  }

  .sitemap-link {
    margin: 0;
  }

  .social {
    margin: 10px auto 0;
  }

  .social-link {
    margin: 0 10px;
  }
}
