.footer {
  position: absolute;
  left: 0;
  bottom: -125px;
  width: 100%;
  max-height: 125px;
  height: auto;
  background-color: #29304F;
}

.footer.who_we_are {
  background-color: #6DCDE9;
}

.footer.who_we_are .copyright,
.footer.who_we_are .copyright a {
  color: #48889A;
}

.footer.who_we_are .social-link svg path {
  fill: #48889A;
}

.footer.who_we_are .social-link:hover svg path {
  fill: #23424C;
}

.footer.who_we_are .sitemap-link {
  color: #48889A;
}

.footer.who_we_are .sitemap-link:hover {
  color: #23424C;
}

.footer.who_we_are h3 {
  color: #23424C;
}

.footer.who_we_are h3::before {
  background-color: #23424C;
}

.footer.our_work {
  background-color: #F17174;
}

.footer.our_work .copyright,
.footer.our_work .copyright a {
  color: #A24C4E;
}

.footer.our_work .social-link svg path {
  fill: #A24C4E;
}

.footer.our_work .social-link:hover svg path {
  fill: #7B3A3B;
}

.footer.our_work .sitemap-link {
  color: #A24C4E;
}

.footer.our_work .sitemap-link:hover {
  color: #7B3A3B;
}

.footer.our_work h3 {
  color: #7B3A3B;
}

.footer.our_work h3::before {
  background-color: #7B3A3B;
}

.footer-navigation {
  width: 100%;
  margin-top: 12px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.social {
  flex-direction: row;
}

.social-link {
  min-width: 50px;
  max-width: 75px;
  height: auto;
  margin-right: 25px;
}

.social-link svg {
  width: 100%;
  height: auto;
}

.social-link svg path {
  fill: #3D4775;
}

.social-link:hover svg path {
  fill: #515E9B;
}

.sitemap {
  margin: 0 50px 0 auto;
  flex-direction: row;
  align-items: center;
}

.sitemap h3 {
  padding: 0 0 9px;
  margin: 0 10px 0 25px;
  color: #515E9B;
}

.sitemap h3::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 9px;
  background: #515E9B;
}

.sitemap-group {
  margin-top: 5px;
}

.sitemap-link {
  margin-left: 25px;
  font-size: 22px;
  color: #3D4775;
  text-transform: uppercase;
  text-decoration: none;
}

.sitemap-link:hover {
  color: #515E9B;
}

.copyright,
.copyright a {
  line-height: 2.5em;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: #3D4775;
}

@media (max-width: 1023px) {
  .footer {
    bottom: -265px;
    max-height: 265px;
    height: auto;
  }

  .footer-navigation {
    flex-direction: column-reverse;
    flex: initial;
    margin: 0;
  }

  .sitemap {
    flex-direction: column;
    align-items: flex-start;
    margin: 5px auto 0;
  }

  .sitemap h3 {
    padding: 0;
    margin: 0;
  }

  .sitemap h3::before {
    bottom: -5px;
  }

  .sitemap-group {
    margin: 0;
  }

  .sitemap-link {
    margin: 0;
  }

  .social {
    margin: 15px auto 0;
  }

  .social-link {
    margin: 0 10px;
  }
}
