.header {
  height: 80px;
  z-index: 1;
}

.header-wrapper {
  flex: 1;
  height: 80px;
  padding: 0 25px;
  flex-direction: row;
  justify-content: space-between;
}

.greeting .header-wrapper {
  opacity: 0;
}

.header-wrapper-animation {
  position: absolute;
  width: 100%;
  animation-name: slideHeaderIn;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

@keyframes slideHeaderIn {
  0% {
    top: -80px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.navigation {
  flex-direction: row;
  align-items: center;
}

.nav-button {
  margin: 0 0 0 40px;
}

.logo {
  width: auto;
  height: 100%;
}

.logo-button {
  width: auto;
  height: 80%;
}

@media only screen and (max-width: 568px) {
  .header {
    height: 140px;
  }

  .header-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .navigation {
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .nav-button {
    margin: 0 10%;
    font-size: 16px;
  }

  .logo {
    height: 100%;
  }

  .logo-button {
    height: 75px;
    margin: 0 auto;
  }
}
