.header {
  flex-direction: row;
  height: 80px;
  padding: 0 25px;
  justify-content: space-between;
}

.navigation {
  flex-direction: row;
  align-items: center;
}

.nav-button {
  margin: 0 0 0 40px;
}

.logo {
  width: auto;
  height: 100%;
}

.logo-button {
  width: auto;
  height: 80%;
}

@media (max-width: 568px) {
  .header {
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .navigation {
    justify-content: center;
    margin-top: 30px;
  }

  .nav-button {
    min-width: 150px;
    margin: 0;
  }

  .logo {
    height: 100%;
  }

  .logo-button {
    height: 75px;
    margin: 0 auto;
  }

  .nav-button {
    font-size: 18px;
  }
}
