.header {
  flex-direction: row;
  height: 80px;
  padding: 0 25px;
  justify-content: space-between;
}

.navigation {
  flex-direction: row;
  align-items: center;
}

.nav-button {
  margin: 0 0 0 40px;
}

.logo {
  width: auto;
  height: 80%;
}

.logo-button {
  width: auto;
  height: 100%;
}
