@font-face {
  font-family: 'Upwave-Light';
  src: url('./../fonts/Upwave-Light.woff') format('woff'),
       url('./../fonts/Upwave-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Upwave-Medium';
  src: url('./../fonts/Upwave-Medium.woff') format('woff'),
       url('./../fonts/Upwave-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Upwave-Book';
  src: url('./../fonts/Upwave-Book.woff') format('woff'),
       url('./../fonts/Upwave-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Upwave-Bold';
  src: url('./../fonts/Upwave-Bold.woff') format('woff'),
       url('./../fonts/Upwave-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Monaco';
  src: url('./../fonts/Monaco.ttf') format('truetype');
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Upwave-Book', sans-serif;
  color: #414960;
  background-color: #FDFDFE;
  overflow-x: hidden;
}

body,
section,
div,
footer,
header,
nav,
img {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

p {
  box-sizing: border-box;
}

.all-hide {
  display: none;
}

#root,
.content {
  width: 100%;
  height: 100%;
}

.container {
  flex: 1;
}

h1,
h2,
h3,
h4 {
  display: inline-block;
  position: relative;
}

h1 {
  padding: 20px 0 20px 0;
  font-size: 5.36em;
  line-height: 1;
  font-family: 'Upwave-Medium';
}

h2 {
  padding: 20px 0 15px 20px;
  font-size: 3em;
  line-height: 1.5;
}

h3 {
  padding: 10px 0 20px 0;
  font-size: 2em;
  line-height: 1.5;
}

h4 {
  font-size: 1.4em;
  line-height: 1.5;
}

h1::before,
h2::before {
  content: '';
  position: absolute;
  bottom: -16px;
  left: 0;
  width: 300px;
  height: 16px;
  background: rgba(65, 73, 96, .5);
}

h2::before {
  width: calc(50% - 40px);
  left: 20px;
}

h1 strong {
  font-family: 'Upwave-Medium';
  color: #F17174 !important;
}

strong {
  color: #F17174 !important;
}

.box,
.main-box {
  position: relative;
  left: 0;
  margin: 30px 0;
  opacity: 1;
  z-index: 1;
  align-items: left;
}

.box {
  margin: 0 75px;
}

.box-animation {
  animation-name: slideBoxIn;
  animation-duration: .5s;
}

.box-transition {
  transition-property: left, opacity;
  transition-duration: .5s, .5s;
  transition-timing-function: ease-out;
}

@keyframes slideBoxIn {
  0% {
    left: 100%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

.box-animation-fade-out {
  opacity: 0;
  left: -100%;
}

.motto {
  text-align: left;
  margin-left: 100px;
  align-items: flex-start;
  justify-content: flex-start;

  .nav-button {
    margin: 0;
    transform: scale(1.5);
    transform-origin: left top;
  }
}

.greeting-motto h1::before {
  display: none;
}

.greeting-motto h3 {
  animation-name: slideMottoIn;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

@keyframes slideMottoIn {
  0% {
    margin-top: 80px;
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

.greeting-motto h3::before {
  content: '';
  position: absolute;
  top: -16px;
  left: 0;
  width: 300px;
  height: 16px;
  background: rgba(65, 73, 96, .5);
}

.big-letter-paragraph {
  position: relative;
  min-width: 320px;
  max-width: 1024px;
  margin: 40px 20px 0;
  line-height: 1.5;
  text-align: justify;
}

.big-letter-paragraph:first-letter {
  float: left;
  color: #F17174;
  font-size: 3.5em;
  font-family: 'Upwave-Bold';
  line-height: 1;
  margin-right: 10px;
  border-bottom: 10px solid rgba(65, 73, 96, .5);
  box-sizing: border-box;
}

@media only screen and (min-width: 569px) and (max-width: 1024px) {
  .motto {
    margin-left: 50px;
  }

  h1 {
    padding: 20px 0 20px 0;
    font-size: 4.6em;
  }

  h2 {
    text-align: center;
    padding: 0;
  }

  h3 {
    padding: 15px 0 20px 0;
    font-size: 1.7em;
  }
}

@media only screen and (min-width: 569px) and (max-width: 768px) {
  .box {
    margin: 0 50px;
  }

  .motto {
    h1 {
      font-size: 3.5em;
    }

    h3 {
      font-size: 1.3em;
    }

    .nav-button {
      transform: scale(1.25);
    }
  }
}

@media only screen and (max-width: 568px) {
  .big-letter-paragraph {
    margin: 0 0 25px;
    min-width: 100%;
  }

  .box {
    margin: 0 15px 6px;
  }

  .sm-hide {
    display: none;
  }

  .sm-show {
    display: flex;
    width: 100%;
  }

  .main-box {
    margin-top: 0;
  }

  .motto {
    margin-left: 20px;

    h1 {
      font-size: 2em;

      &::before {
        width: 50%;
      }
    }

    h3 {
      font-size: 1em;
    }

    .nav-button {
      transform: none;
    }
  }
}
