#preload-01 {
  display: none;
  position: absolute;
  top: -9999px;
  left: -9999px;
  background: url('./../images/careers-dialog-back.jpg') no-repeat -9999px -9999px;
}

@font-face {
  font-family: 'Upwave-Light';
  src: url('./../fonts/Upwave-Light.woff') format('woff'),
       url('./../fonts/Upwave-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Upwave-Medium';
  src: url('./../fonts/Upwave-Medium.woff') format('woff'),
       url('./../fonts/Upwave-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Upwave-Book';
  src: url('./../fonts/Upwave-Book.woff') format('woff'),
       url('./../fonts/Upwave-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Upwave-Bold';
  src: url('./../fonts/Upwave-Bold.woff') format('woff'),
       url('./../fonts/Upwave-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Monaco';
  src: url('./../fonts/Monaco.ttf') format('truetype');
}

body {
  font-family: 'Upwave-Book', sans-serif;
  color: #2c4860;
  background-color: #FDFDFE;
}

iframe,
html,
body,
section,
footer,
header,
nav,
img,
p {
  display: flex;
  flex: 0 1 auto;
  box-sizing: border-box;
  flex-direction: column;
}

.all-hide {
  display: none;
}

.container {
  flex-grow: 1;
  background-color: #2c4860;
}

h1,
h2,
h3,
h4 {
  display: inline-block;
  position: relative;
  line-height: 1.5;
}

h1 {
  padding: 25px 0;
  font-size: 5.36em;
  font-family: 'Upwave-Medium', sans-serif;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
    background: rgba(44, 72, 96, .5);
  }
}

h2 {
  padding: 20px 0;
  font-size: 3em;
  font-family: 'Upwave-Medium', sans-serif;
  line-height: 1.5;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background: rgba(241, 113, 116, .9);
  }
}

h3 {
  font-family: 'Upwave-Medium', sans-serif;
  padding: 10px 0;
  font-size: 2em;
  line-height: 1.5;
  color: rgba(44, 72, 96, .85);
}

h4 {
  font-size: 1.4em;
}

h1 strong {
  color: #F17174 !important;
}

strong {
  color: #F17174 !important;
}

.box,
.main-box {
  position: relative;
  flex-grow: 1;
  left: 0;
  opacity: 1;
  z-index: 1;

  .main-testimonial {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40%;
    height: auto;
    padding: 0 5% 5% 0;
    align-items: flex-end;

    h2 {
      color: #6DCDE9;
      padding-left: 0;
    }

    .nav-button {
      color: #FDFDFE;
      margin: 0;
      transform-origin: right top;

      &::after {
        border-color: #FDFDFE;
      }
    }

    .testemonial-panel {
      flex-grow: 1;
      flex-direction: column;

      .testemonial-logo {
        flex-grow: 1;
        justify-content: flex-start;
        align-items: flex-start;

        .testemonial-link {
          flex-grow: 1;
        }
      }

      .testemonial-text {
        position: relative;
        flex-grow: 2;
        flex-direction: column;

        &::before {
          content: "\201C";
          position: absolute;
          left: 10px;
          top: 5px;
          font-family: "UpWave-Bold";
          font-size: 7em;
          color: #F17174;
        }

        blockquote {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          font-style: italic;
          line-height: 1.5;
          color: rgba(44, 72, 96, .75);
          padding: 30px 0 25px 80px;
          text-align: justify;
          font-size: 1.35em;
          color: #FDFDFE;

          .testemonial-body {
            flex-grow: 1;
          }

          .testemonial-sign {
            position: relative;
            flex-grow: 1;
            font-family: "UpWave-Medium";
            font-style: normal;
            font-size: 1.1em;
            align-items: flex-end;
            text-align: right;
            padding-top: 25px;

            span {
              opacity: .9;
            }

            .testemonial-link {
              font-family: "UpWave-Medium";
              font-size: 1.2em;
              color: #FDFDFE;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.box-animation {
  animation-name: slideBoxIn;
  animation-duration: .5s;
}

.box-transition {
  transition-timing-function: ease-out;
  transition-property: left, opacity;
  transition-duration: .5s, .5s;
  transition-timing-function: ease-out;
}

@keyframes slideBoxIn {
  0% {
    left: 25%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

.box-animation-fade-out {
  opacity: 0;
  left: -25%;
}

.motto {
  text-align: left;
  padding: 2% 0 0 3%;
  align-items: flex-start;
  justify-content: flex-start;

  .nav-button {
    margin: 0;
    transform: scale(1.5);
    transform-origin: left top;
  }
}

/*.greeting-motto h1::before {
  display: none;
}

.greeting-motto h3 {
  animation-name: slideMottoIn;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}*/

@keyframes slideMottoIn {
  0% {
    margin-top: 80px;
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

/*.greeting-motto h3::before {
  content: '';
  position: absolute;
  top: -16px;
  left: 0;
  width: 300px;
  height: 16px;
  background: rgba(44, 72, 96, .5);
}*/

.big-letter-paragraph {
  display: block;
  position: relative;
  min-width: 320px;
  max-width: 1024px;
  margin: 40px 20px 0;
  line-height: 1.5;
  text-align: justify;
}

.big-letter-paragraph:first-letter {
  float: left;
  color: #6DCDE9;
  font-size: 3.5em;
  font-family: 'Upwave-Bold', sans-serif;
  line-height: 1;
  margin-right: 10px;
  border-bottom: 10px solid rgba(44, 72, 96, .5);
  box-sizing: border-box;
}

@media only screen and (min-width: 1921px) {
  .main-box {
    .motto {
      .nav-button {
        margin: 0;
        transform: scale(2.25);
        transform-origin: left top;
      }

      h1 {
        font-size: 7.75em;
      }

      h3 {
        font-size: 2.5em;
      }
    }

    .main-testimonial {
      h2 {
        font-size: 5em;
      }

      .nav-button {
        transform: scale(2.25);
      }

      .testemonial-panel {
        .testemonial-text {
          &::before {
            font-size: 9em;
            left: 10px;
            top: 10px;
          }

          blockquote {
            padding: 30px 0 25px 110px;
            font-size: 2em;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  .main-box {
    .motto {
      .nav-button {
        margin: 0;
        transform: scale(1.75);
        transform-origin: left top;
      }

      h1 {
        font-size: 5.75em;
      }

      h3 {
        font-size: 1.9em;
      }
    }

    .main-testimonial {
      h2 {
        font-size: 3em;
      }

      .nav-button {
        transform: scale(1.75);
      }

      .testemonial-panel {
        .testemonial-text {
          &::before {
            font-size: 8em;
            left: 10px;
            top: 10px;
          }

          blockquote {
            padding: 30px 0 25px 100px;
            font-size: 1.4em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  h1 {
    padding: 15px 0;

    &::before {
      height: 25px;
    }
  }

  h2 {
    padding: 10px 0;

    &::before {
      height: 15px;
    }
  }
}

@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  .main-box {
    .motto {
      padding-top: 1%;

      .nav-button {
        margin: 0;
        transform: scale(1.5);
        transform-origin: left top;
      }

      h1 {
        font-size: 4.5em;
      }

      h3 {
        font-size: 1.5em;
      }
    }

    .main-testimonial {
      h2 {
        font-size: 2.5em;
      }

      .nav-button {
        transform: scale(1.5);
      }

      .testemonial-panel {
        .testemonial-text {
          &::before {
            font-size: 6em;
            left: 5px;
            top: 10px;
          }

          blockquote {
            padding: 25px 0 20px 75px;
            font-size: 1.25em;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .main-box {
    .motto {
      padding-top: 0;

      .nav-button {
        margin: 0;
        transform: scale(1.5);
        transform-origin: left top;
      }

      h1 {
        font-size: 4.25em;
      }

      h3 {
        font-size: 1.35em;
      }
    }

    .main-testimonial {
      h2 {
        font-size: 2.25em;
      }

      .nav-button {
        transform: scale(1.5);
      }

      .testemonial-panel {
        .testemonial-text {
          &::before {
            font-size: 5em;
            left: 5px;
            top: 10px;
          }

          blockquote {
            padding: 25px 0 20px 75px;
            font-size: 1em;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 569px) and (max-width: 1024px) {
  .main-box {
    .motto {
      padding-top: 1%;

      .nav-button {
        margin: 0;
        transform: scale(1.25);
        transform-origin: left top;
      }

      h1 {
        font-size: 4em;
      }

      h3 {
        font-size: 1.3em;
      }
    }

    .main-testimonial {
      padding-right: 3%;

      h2 {
        font-size: 2.25em;
      }

      .nav-button {
        transform: scale(1.25);
      }

      .testemonial-panel {
        .testemonial-text {
          &::before {
            font-size: 5em;
            left: 5px;
            top: 10px;
          }

          blockquote {
            padding: 20px 0 15px 65px;
            font-size: .9em;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 569px) and (max-width: 768px) {
  .main-box {
    .motto {
      .nav-button {
        transform: scale(1.25);
      }
    }

    .main-testimonial {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 568px) {
  .big-letter-paragraph {
    margin: 0 0 25px;
    min-width: 100%;
  }

  .sm-hide {
    display: none;
  }

  .sm-show {
    display: flex;
  }

  .container {
    background: none;
  }

  .main-box {
    .motto {
      padding: 3% 5%;
      text-align: center;
      align-items: center;

      .nav-button {
        margin-top: 25px;
        margin-left: 20px;
        transform: none;
      }

      h1 {
        font-size: 2.75em;
        padding-top: 0;
        padding-bottom: 20px;
        line-height: 1.3;

        &::before {
          height: 15px;
          width: 50%;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      h3 {
        margin-top: 5px;
        padding-bottom: 5px;
        font-size: 1.05em;
      }
    }

    .main-testimonial {
      display: none;
    }
  }
}
