body {
  /*font-family: 'Varela Round', sans-serif;*/
  font-family: 'Varela', sans-serif;
  color: #414960;
  background-color: #FDFDFE;
}

h1,
h3 {
  padding: 20px 0;
  display: inline-block;
}

h1 {
  margin-top: 25px;
  font-size: 86px;
  border-bottom: 2px solid rgba(65, 73, 96, .25);
}

h3 {
  font-size: 29px;
}

.container {
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: 80px;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  transform: translateX(-50%);
}

.content {
  position: relative;
  top: 50px;
  left: 0px;
}
