html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Varela', sans-serif;
  color: #414960;
  background-color: #FDFDFE;
  overflow-x: hidden;
}

body,
section,
div,
footer,
header,
nav {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.all-hide {
  display: none;
}

#root,
.content {
  width: 100%;
  height: 100%;
}

.container {
  flex: 1;
}

h1,
h2,
h3 {
  display: inline-block;
  position: relative;
}

h1 {
  padding: 20px 0 20px 0;
  font-size: 5.36em;
  line-height: 1;
}

h2 {
  padding: 20px 0 10px 0;
  font-size: 3em;
}

h3 {
  padding: 36px 0 20px 0;
  font-size: 2em;
  line-height: 1.5;
}

h1::before,
h2::before {
  content: '';
  position: absolute;
  bottom: -16px;
  left: 0;
  width: 250px;
  height: 16px;
  background: rgba(65, 73, 96, .5);
}

h2::before {
  width: 50%;
}

h1 strong {
  color: #F17174 !important;
}

.box {
  position: relative;
  margin-left: 100px;
  opacity: 1;
  left: 0;
  transition-property: left, opacity;
  transition-duration: .5s, .5s;
  transition-timing-function: ease-out;
  animation-name: fadeIn;
  animation-duration: .5s;
  align-items: left;
}

.main-box {
  margin-top: 75px;
}

@keyframes fadeIn {
  0% {
    left: 100%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

.box-fade-out {
  opacity: 0;
  left: -100%;
}

.motto {
  text-align: left;
}

@media (max-width: 1023px) {
  .box {
    margin-left: auto;
    margin-right: auto;
  }

  .motto {
    text-align: center;
  }

  h1 {
    padding: 20px 0 20px 0;
    font-size: 4.9em;
  }

  h1::before {
    left: 50%;
    transform: translateX(-50%);
  }

  h2::before {
    left: 50%;
    transform: translateX(-50%);
  }

  h3 {
    padding: 25px 0 20px 0;
    font-size: 1.75em;
  }
}

@media (max-width: 568px) {
  .sm-hide {
    display: none;
  }

  .sm-show {
    display: block;
  }

  .motto .nav-button {
    margin: 0 auto;
  }

  .main-box {
    margin-top: 25px;
  }
}
