@font-face {
  font-family: 'Upwave-Light';
  src: url('./../fonts/Upwave-Light.woff') format('woff'),
       url('./../fonts/Upwave-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Upwave-Medium';
  src: url('./../fonts/Upwave-Medium.woff') format('woff'),
       url('./../fonts/Upwave-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Upwave-Book';
  src: url('./../fonts/Upwave-Book.woff') format('woff'),
       url('./../fonts/Upwave-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Upwave-Bold';
  src: url('./../fonts/Upwave-Bold.woff') format('woff'),
       url('./../fonts/Upwave-Bold.ttf') format('truetype');
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Upwave-Book', sans-serif;
  color: #414960;
  background-color: #FDFDFE;
  overflow-x: hidden;
}

body,
section,
div,
footer,
header,
nav,
img {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.all-hide {
  display: none;
}

#root,
.content {
  width: 100%;
  height: 100%;
}

.container {
  flex: 1;
}

h1,
h2,
h3 {
  display: inline-block;
  position: relative;
}

h1 {
  padding: 20px 0 20px 0;
  font-size: 5.36em;
  line-height: 1;
  font-family: 'Upwave-Medium';
}

h2 {
  padding: 20px 0 15px 20px;
  font-size: 3em;
}

h3 {
  padding: 10px 0 20px 0;
  font-size: 2em;
  line-height: 1.5;
}

h1::before,
h2::before {
  content: '';
  position: absolute;
  bottom: -16px;
  left: 0;
  width: 250px;
  height: 16px;
  background: rgba(65, 73, 96, .5);
}

h2::before {
  width: calc(50% - 40px);
  left: 20px;
}

h1 strong {
  font-family: 'Upwave-Medium';
  color: #F17174 !important;
}

strong {
  color: #F17174 !important;
}

.box {
  position: relative;
  margin: 0 75px;
  opacity: 1;
  left: 0;
  transition-property: left, opacity;
  transition-duration: .5s, .5s;
  transition-timing-function: ease-out;
  animation-name: fadeIn;
  animation-duration: .5s;
  align-items: left;
  z-index: 1;
}

.main-box {
  margin: 75px 100px 0 0;
}

@keyframes fadeIn {
  0% {
    left: 100%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

.box-fade-out {
  opacity: 0;
  left: -100%;
}

.motto {
  text-align: left;
  margin-left: 100px;
}

.about-us {
  padding: 25px 50px 25px 50px;
  align-items: center;
}

.about-us img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.big-letter-paragraph {
  position: relative;
  min-width: 320px;
  max-width: 1024px;
  margin: 40px 20px 0;
  line-height: 1.5;
  text-align: justify;
}

.big-letter-paragraph:first-letter {
  float: left;
  color: #F17174;
  font-size: 3.5em;
  font-family: 'Upwave-Bold';
  line-height: 1;
  margin-right: 10px;
  border-bottom: 10px solid rgba(65, 73, 96, .5);
  box-sizing: border-box;
}
/*
.our-stack {
  min-width: 320px;
  max-width: 1024px;
  width: 50%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 20px 0;
  justify-content: flex-start;
}

.stack-group {
  min-width: 320px;
  max-width: 1024px;
  flex-direction: row;
  justify-content: space-between;
}

.technology-icon {
  padding: 10px 10px 0;
}*/

@media (max-width: 1023px) {
  .box {
    margin-left: auto;
    margin-right: auto;
  }

  .motto {
    text-align: center;
    margin-left: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  h1 {
    padding: 20px 0 20px 0;
    font-size: 4.9em;
  }

  h2 {
    text-align: center;
    padding: 0;
  }

  h1::before {
    left: 50%;
    transform: translateX(-50%);
  }

  h2::before {
    left: 50%;
    transform: translateX(-50%);
  }

  h3 {
    padding: 15px 0 20px 0;
    font-size: 1.75em;
  }
}

@media (max-width: 568px) {
  .sm-hide {
    display: none;
  }

  .sm-show {
    display: block;
  }

  .motto .nav-button {
    margin: 0 auto;
  }

  .main-box {
    margin-top: 25px;
  }
}
