.our-work {
  position: relative;
}

.testimonials-container {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  border-radius: 8px;

  .testemonial-panel {
    flex: 0 1 50%;
    flex-direction: row;
    position: relative;
    background: #F9F9F9;
    border-radius: 8px;
    box-shadow: 0 0 100px rgba(0, 0, 0, .3);
    transform-origin: bottom center;
    transform: scale(.75);

    &:last-child {
      margin-top: 3%;
      margin-bottom: 5%;
      transform-origin: top center;
      transform: scale(1.25);
    }
  }
}

.testemonial-panel h3 strong {
  font-family: "UpWave-Bold";
  color: #6DCDE9 !important;
}

.testemonial-text {
  position: relative;
  flex: 1.5;
  justify-content: center;
  align-items: center;
  border-left: 25px solid #6DCDE9;

  &::before {
    font-family: "UpWave-Bold";
    content: "\201C";
    color: #6DCDE9;
    font-size: 7em;
    position: absolute;
    left: 10px;
    top: 5px;
  }

  blockquote {
    position: relative;
    font-style: italic;
    line-height: 1.5;
    color: rgba(44, 72, 96, .75);
    padding: 25px 45px 25px 90px;
    text-align: justify;
    font-size: 1.25em;

    span {
      display: inline-block;
      font-family: "UpWave-Medium";
      font-style: normal;
      font-size: 1.05em;
      color: rgba(44, 72, 96, .6);
      text-align: right;
      float: right;
      margin-top: 25px;
    }

    .testemonial-link {
      font-family: "UpWave-Medium";
      font-size: 1.15em;
    }
  }
}

.testemonial-logo {
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

  .testemonial-link {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 100%;
      max-height: 100%;
      transform: translate(-50%, -50%);
    }
  }
}

.meaningful-place {
  .testemonial-logo {
    background: #212121;
  }
}

.ourea {
  .testemonial-logo {
    background: #0D3044;
  }
}

.eventgeek {
  .testemonial-logo {
    background: #FFF;
  }
}

// @media only screen and (max-width: 568px) {
//   .arrow-next,
//   .arrow-previous,
//   .world-map,
//   .selected-world-map {
//     display: none;
//   }
//
//   .testimonials-container {
//     position: relative;
//     bottom: initial;
//     top: 0;
//     left: 0;
//     min-height: 100%;
//
//     .testemonial-panel {
//       .testemonial-logo {
//         max-height: 50px;
//       }
//
//       .testemonial-text {
//         padding: 5px 0;
//         justify-content: flex-start;
//         align-items: center;
//
//         blockquote {
//           font-size: 14px;
//           line-height: 1.4em;
//
//           span {
//             margin-top: 5px;
//           }
//         }
//       }
//     }
//   }
// }
//
// @media only screen and (max-width: 768px) {
//   .world-map,
//   .selected-world-map {
//     top: 25px;
//     padding: 0;
//     transform: scale(1.15);
//   }
//
//   .our-work {
//     .slider-bullets-inline {
//       bottom: 0;
//     }
//   }
//
//   .testemonial-panel {
//     flex-direction: column;
//     height: 600px;
//
//     .testemonial-logo {
//       padding: 70px;
//       border-radius: 0;
//       border-top-left-radius: 2px;
//       border-top-right-radius: 2px;
//
//       .testemonial-link {
//         img {
//           max-width: 100%;
//         }
//       }
//     }
//
//     .testemonial-text {
//       border: none;
//       border-top: 16px solid rgba(109, 205, 233, .75);
//
//       &::before {
//         font-size: 96px;
//         left: 20px;
//         top: 20px;
//       }
//
//       blockquote {
//         padding: 10px 30px 10px 90px;
//         font-size: 16px;
//       }
//     }
//   }
// }

@media only screen and (min-width: 569px) and (max-width: 1024px) {
  .testimonials-container {
    .testemonial-panel {
      flex-direction: column;
      box-shadow: 0 0 50px rgba(0, 0, 0, .3);
      max-height: 71%;
      transform: scale(.6);

      &:last-child {
        transform: scale(.8);
        max-height: 69%;
        margin: 0;
        margin-bottom: -22%;
      }

      .testemonial-logo {
        border-radius: initial;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      .testemonial-text {
        flex: 2;
        border: none;
        border-top: 25px solid #6DCDE9;

        &::before {
          font-size: 86px;
          left: 20px;
          top: 15px;
        }

        blockquote {
          padding: 15px 25px 15px 90px;
          font-size: 1em;

          span {
            font-size: 1em;
          }

          .testemonial-link {
            font-size: 1.1em;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .testimonials-container {
    .testemonial-panel {
      flex-direction: column;
      box-shadow: 0 0 75px rgba(0, 0, 0, .3);
      max-height: 70%;
      transform: scale(.6);

      &:last-child {
        transform: scale(.8);
        margin: 0;
        margin-bottom: -17%;
      }

      .testemonial-logo {
        border-radius: initial;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      .testemonial-text {
        flex: 2;
        border: none;
        border-top: 25px solid #6DCDE9;

        &::before {
          font-size: 96px;
          left: 20px;
          top: 15px;
        }

        blockquote {
          padding: 15px 25px 15px 90px;
          font-size: 1.1em;

          span {
            font-size: 1em;
          }

          .testemonial-link {
            font-size: 1.1em;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1921px) {
  .testimonials-container {
    .testemonial-panel {
      .testemonial-text {
        &::before {
          font-size: 8em;
          left: 15px;
          top: 15px;
        }

        blockquote {
          font-size: 1.75em;
        }
      }
    }
  }
}
