.our-work {
  flex: 1;
  position: relative;

  .bullets {
    position: absolute;
    bottom: 15px;
    left: calc(50% - 38px);
  }
}

.testemonial-panel {
  flex: 1;
  flex-direction: row;
  position: relative;
  height: 250px;
  background: #F9F9F9;
  border-radius: 2px;
}

.testemonial-panel h3 strong {
  font-family: "UpWave-Bold";
  color: #6DCDE9 !important;
}

.testemonial-text {
  position: relative;
  flex: 2;
  justify-content: center;
  align-items: center;
  border-left: 16px solid rgba(109, 205, 233, .75);

  &::before {
    font-family: "UpWave-Bold";
    content: "\201C";
    color: rgba(65, 73, 96, .75);
    font-size: 64px;
    position: absolute;
    left: 15px;
    top: 18px;
  }
}

.arrow-next,
.arrow-previous {
  position: absolute;
  top: 40%;
  left: -50px;
  width: 35px;
  height: 35px;
  transform: rotate(225deg);
  border-top: 1px solid rgba(65, 73, 96, .75);
  border-right: 1px solid rgba(65, 73, 96, .75);
  border-top-right-radius: 8px;
  z-index: 1;

  &:hover {
    border-color: #F17174;
  }
}

.arrow-next {
  left: initial;
  right: -50px;
  transform: rotate(45deg);
}

.testemonial-logo {
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;

  .testemonial-link {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
    }
  }
}

.meaningful-place {
  .testemonial-logo {
    background: #212121;
  }
}

.ourea {
  .testemonial-logo {
    background: #0D3044;
  }
}

.eventgeek {
  .testemonial-logo {
    background: #FFF;
  }
}

.world-map,
.selected-world-map {
  position: absolute;
  top: -25px;
  left: 0;
  width: 100%;
  height: auto;
  padding: 0 75px;

  svg {
    width: 100%;
    height: auto;
    transform: translateZ(0, 0, 0) perspective(1000) !important;

    #Lithuania:hover,
    #London:hover,
    #SF:hover {
      fill: #F17174;
      fill-opacity: 1;
    }

    #Lithuania.active,
    #London.active,
    #SF.active {
      fill: #F17174;
      fill-opacity: 1;
    }
  }
}

.testimonials-slider {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 0 2px rgba(65, 73, 96, .3);
}

blockquote {
  position: relative;
  font-style: italic;
  line-height: 1.5em;
  color: rgba(65, 73, 96, .75);
  padding: 10px 30px 10px 90px;
  text-align: justify;
  font-size: 16px;

  span {
    display: inline-block;
    font-family: "UpWave-Medium";
    font-style: normal;
    margin-top: 14px;
    color: rgba(65, 73, 96, .6);
    text-align: right;
    float: right;
  }

  .testemonial-link {
    font-size: 16px;
  }
}

@media only screen and (max-width: 568px) {

}

@media only screen and (min-width: 569px) and (max-width: 768px) {
  .world-map,
  .selected-world-map {
    top: 25px;
    padding: 0;
    transform: scale(1.15);
  }

  .testemonial-panel {
    flex-direction: column;
    height: 600px;

    .testemonial-logo {
      padding: 70px;
      border-radius: 0;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;

      .testemonial-link {
        img {
          max-width: 100%;
        }
      }
    }

    .testemonial-text {
      border: none;
      border-top: 16px solid rgba(109, 205, 233, .75);

      &::before {
        font-size: 96px;
        left: 20px;
        top: 20px;
      }

      blockquote {
        padding: 10px 30px 10px 90px;
        font-size: 16px;
      }
    }
  }
}

@media only screen and (max-width: 568px) {
  .arrow-next,
  .arrow-previous {
    display: none;
  }
}

@media only screen and (min-width: 569px) and (max-width: 1024px) {
  .testemonial-panel {
    height: 300px;
  }

  .world-map,
  .selected-world-map {
    top: -15px;
    padding: 0;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .bullets {
    bottom: 6px;
  }

  .testimonials-slider {
    bottom: 30px;
    box-shadow: 0 0 2px rgba(65, 73, 96, .3);

    .testemonial-panel {
      margin: 0;
      box-shadow: none;
    }
  }
}

@media only screen and (min-width: 1441px) {
  .our-work {
    margin: 0 50px !important;
  }

  .bullets {
    display: none;
  }

  .arrow-next,
  .arrow-previous {
    display: none;
  }

  .testimonials-slider {
    box-shadow: none;

    .testemonial-panel {
      flex-direction: column;
      height: 400px;
      margin: 0 25px;
      box-shadow: 0 0 2px rgba(65, 73, 96, .3);

      .testemonial-logo {
        padding: 20px;
        border-radius: 0;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;

        .testemonial-link {
            max-width: 100%;
        }
      }

      .testemonial-text {
        border: none;
        border-top: 16px solid rgba(109, 205, 233, .75);

        blockquote {
          padding: 10px 30px 10px 80px;
          font-size: 14px;
        }
      }
    }
  }
}
