.our-work {
  position: relative;
  padding: 100px;

  .testimonials-container {
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: justify;
    justify-content: center;
    width: 100%;

    .testemonial-wrapper {
      flex: 0 0 50%;
      padding: 50px;

      .testemonial-panel {
        flex: 1;
        flex-direction: row;
        background: #F9F9F9;
        border-radius: 8px;
        box-shadow: 0 0 100px rgba(0, 0, 0, .3);

        .testemonial-logo {
          flex: 1;
          justify-content: center;
          align-items: center;
          padding: 25px;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;

          .testemonial-link {
            position: relative;
            width: 100%;
            height: 100%;
            flex: 1;

            img {
              position: absolute;
              top: 50%;
              left: 50%;
              max-width: 100%;
              max-height: 100%;
              transform: translate(-50%, -50%);
            }
          }
        }

        .testemonial-text {
          flex: 2;
          position: relative;
          flex-direction: column;
          border-left: 25px solid #6DCDE9;

          &::before {
            font-family: "UpWave-Bold";
            content: "\201C";
            color: #6DCDE9;
            font-size: 7em;
            position: absolute;
            left: 10px;
            top: 5px;
          }

          blockquote {
            display: flex;
            flex-direction: column;
            flex: 1;
            position: relative;
            font-style: italic;
            line-height: 1.5;
            color: rgba(44, 72, 96, .75);
            padding: 25px 45px 25px 90px;
            text-align: justify;
            font-size: 1.35em;
            min-height: 0;
            max-height: 100%;
            justify-content: center;
            overflow-y: hidden;
            overflow-x: visible;

            .testemonial-body {
              flex: 1;
              overflow-y: hidden;
              overflow-x: visible;
            }

            .testemonial-sign {
              position: relative;
              flex: 1 0;
              min-height: 60px;
              height: 60px;
              max-height: 60px;
              font-family: "UpWave-Medium";
              font-style: normal;
              font-size: 1.1em;
              color: rgba(44, 72, 96, .6);
              align-items: flex-end;
              justify-content: center;
              text-align: right;
              background: #F9F9F9;

              &::before {
                content: '';
                position: absolute;
                top: -50px;
                left: 0;
                width: 100%;
                height: 50px;
                background: linear-gradient(to bottom, rgba(249, 249, 249, 0) 0%, rgba(249, 249, 249, 1) 75%);
              }

              span {
                z-index: 1;
              }

              .testemonial-link {
                font-family: "UpWave-Medium";
                font-size: 1.2em;
              }
            }
          }
        }
      }
    }
  }


  .meaningful-place {
    .testemonial-logo {
      background: #212121;
    }
  }

  .ourea {
    .testemonial-logo {
      background: #0D3044;
    }
  }

  .eventgeek {
    .testemonial-logo {
      background: #FFF;
    }
  }
}


@media only screen and (max-width: 568px) {
  .our-work {
    padding: 15px 15px;

    .testimonials-container {
      .testemonial-wrapper {
        flex: 1 0 100%;
        padding: 0;

        .testemonial-panel {
          .testemonial-logo {
            padding: 10px;
            border-radius: 8px;
          }

          .testemonial-text {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 569px) and (max-width: 768px) {
  .our-work {
    padding: 15px 25px;

    .testimonials-container {
      .testemonial-wrapper {
        flex: 1 0 100%;
        padding: 15px;

        .testemonial-panel {
          .testemonial-text {
            &::before {
              font-size: 4em;
              left: 7px;
              top: 7px;
            }

            blockquote {
              padding: 15px 35px 15px 50px;
              font-size: .85em;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .our-work {
    padding: 15px 35px;

    .testimonials-container {
      flex-wrap: nowrap;

      .testemonial-wrapper {
        flex: 1 0 33.333%;
        padding: 25px;

        .testemonial-panel {
          flex-direction: column;

          .testemonial-logo {
            border-bottom-left-radius: 0;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
          }

          .testemonial-text {
            border-left: none;
            border-top: 25px solid #6DCDE9;

            &::before {
              font-size: 5em;
              left: 10px;
              top: 7px;
            }

            blockquote {
              padding: 15px 35px 15px 65px;
              font-size: .95em;

              .testemonial-sign {
                font-size: 1em;

                .testemonial-link {
                  font-size: 1.1em;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .our-work {
    padding: 15px 35px;

    .testimonials-container {
      flex-wrap: nowrap;

      .testemonial-wrapper {
        flex: 1 0 33.333%;
        padding: 25px;

        .testemonial-panel {
          flex-direction: column;

          .testemonial-logo {
            border-bottom-left-radius: 0;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
          }

          .testemonial-text {
            border-left: none;
            border-top: 25px solid #6DCDE9;

            &::before {
              font-size: 5em;
              left: 10px;
              top: 7px;
            }

            blockquote {
              padding: 15px 35px 15px 65px;
              font-size: .95em;

              .testemonial-sign {
                font-size: 1em;

                .testemonial-link {
                  font-size: 1.1em;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  .our-work {
    padding: 15px 35px;

    .testimonials-container {
      .testemonial-wrapper {
        padding: 35px;

        .testemonial-panel {
          .testemonial-text {
            &::before {
              font-size: 6em;
              left: 15px;
              top: 7px;
            }

            blockquote {
              padding: 15px 35px 15px 90px;
              font-size: 1.05em;
            }
          }
        }
      }
    }
  }
}
