.panel-container {
  flex-direction: column;
  flex-grow: 1;
  padding-right: 125px;

  &:last-child {
    padding: 0;
  }
}

.panel {
  flex-grow: 1;
  padding-bottom: 125px;

  &:last-child {
    padding: 0;
  }
}

@media only screen and (max-width: 568px) {
  .box {
    .panel-container {
      padding-bottom: 15px;

      .panel {
        padding-bottom: 15px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .panel-container {
    padding-right: 0;
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .panel-container {
    padding-right: 35px;

    &:last-child {
      padding: 0;
    }
  }

  .panel {
    padding-bottom: 35px;
  }
}

@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  .panel-container {
    padding-right: 45px;

    &:last-child {
      padding: 0;
    }
  }

  .panel {
    flex-grow: 1;
    padding-bottom: 45px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  .panel-container {
    padding-right: 75px;

    &:last-child {
      padding: 0;
    }
  }

  .panel {
    padding-bottom: 75px;
  }
}

@media only screen and (min-width: 1921px) {
  .panel-container {
    padding-right: 105px;

    &:last-child {
      padding: 0;
    }
  }

  .panel {
    padding-bottom: 105px;
  }
}
