.panel-container {
  flex-direction: column;
  flex: 1;
  height: 100%;
  min-height: 0;
  max-height: 100%;
  margin-right: 125px;

  &:last-child {
    margin: 0;
  }
}

.panel {
  flex: 1;
  margin-bottom: 125px;
  background: #F9F9F9;
  box-shadow: 0 0 100px rgba(0, 0, 0, .3);
  border-radius: 8px;
  overflow: hidden;

  &:last-child {
    margin: 0;
  }
}

@media only screen and (max-width: 568px) {
  .box {
    .panel-container {
      margin-bottom: 15px;

      .panel {
        margin-bottom: 15px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .panel-container {
    margin-right: 0;
    margin-bottom: 20px;

    .panel {
      box-shadow: 0 0 50px rgba(0, 0, 0, .3);
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .panel-container {
    margin-right: 35px;

    &:last-child {
      margin: 0;
    }
  }

  .panel {
    margin-bottom: 35px;
  }
}

@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  .panel-container {
    margin-right: 45px;

    &:last-child {
      margin: 0;
    }
  }

  .panel {
    flex: 1;
    margin-bottom: 45px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  .panel-container {
    margin-right: 75px;

    &:last-child {
      margin: 0;
    }
  }

  .panel {
    margin-bottom: 75px;
  }
}

@media only screen and (min-width: 1921px) {
  .panel-container {
    margin-right: 105px;

    &:last-child {
      margin: 0;
    }
  }

  .panel {
    margin-bottom: 105px;
  }
}
