.waves {
  overflow: hidden;
  z-index: 0;
}

#wave {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

/* TODO: Check if it works */
.acceleration {
  transform: translateZ(0, 0, 0) perspective(1000) !important;
}
