.waves {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/background.png');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

#wave {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}
